<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layouts :: header}"></head>

<body>
<nav th:replace="~{layouts :: navbar}"></nav>

<div class="container">
    <a th:href="@{/employees/new}"
       class="btn btn-primary btn-sm mb-3">
        new Employee
    </a>
    <br>
    <h4>Current Employees </h4>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th> Employee First Name </th>
            <th> Employee Last Name</th>
            <th> Project Count</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="employeeProjectCnt : ${employeeList}">
            <td th:text="${employeeProjectCnt.firstName}"></td>
            <td th:text="${employeeProjectCnt.lastName}"></td>
            <td th:text="${employeeProjectCnt.projectCount}"></td>
        </tr>
        </tbody>

    </table>
</div>

<div class="container">
    <a th:href="@{/projects/new}" class="btn btn-primary btn-sm mb-3">
        New Project
    </a>
    <br>
    <h4>Current Projects </h4>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th> Project Name </th>
            <th> Project Stage</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aProject: ${projectsList}">
            <td th:text="${aProject.name}"></td>
            <td th:text="${aProject.stage}"></td>
        </tr>
        </tbody>

    </table>
</div>





<div class="col-md-6 container">
    <canvas id="myChart" height="50" width="50"></canvas>
    <script>
        var chartData = "[[${projectStatusCnt}]]"
    </script>
</div>

<div th:replace="~{layouts :: scripts}"></div>
</body>
</html>